<div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Qty</th>
            <th scope="col">Sum</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">learn js</th>
            <td>100</td>
            <td>
              <input type="number">
            </td>
            <td>1000</td>
            <td>
                <i class="fa fa-remove ml-auto text-danger"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary">Checkout</button>
</div>